.trade {
    max-width: 100%;
    padding: 32px;

    .TRADE {
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        display: flex;
        margin-left: 20px;
    }

    .wallet {
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        display: flex;
        margin-left: 52%;
        margin-top: 150px;
    }

    .trade__main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .left {
            width: 50%;
        }

        h2 {
            font-family: Lexend;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            margin-left: 20px;
        }

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                margin: 20px;
                width: 40%;
                display: flex;
                border-radius: 10px;
                padding: 10px;
                transition: 0.5s;
                flex-wrap: wrap;
                flex-direction: column;
                box-shadow: 0 0 10px 2px rgb(240, 234, 234);

                img {
                    margin-left: -90%;
                    object-fit: contain;
                }
            }
        }

        .right {
            object-fit: contain;
            max-width: 50%;
        }
    }

    .trade__button {
        display: flex;
        justify-content: space-between;

        .left {
            max-width: 50%;
        }

        .right {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 50%;

            h2 {
                margin-left: 20px;
                font-family: Lexend;
                font-size: 40px;
                font-weight: 400;
                line-height: 50px;
                letter-spacing: 0.10000000149011612px;
                text-align: left;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    box-shadow: 0 0 10px 2px rgb(240, 234, 234);
                    transition: 0.5s;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 20px;
                    width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    img {
                        margin-left: -90%;
                        object-fit: contain;
                    }

                    b {
                        font-family: Lexend;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                    }

                    p {
                        font-family: Lexend;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.20000000298023224px;
                        text-align: left;
                    }
                }
            }
        }
    }
}